<app-header [searchHome]="search" (headerIptSearchEmitter)="searchMovieSerie($event)"> </app-header>
<div class="container" (keydown)="util.globalNavigateSettings($event)">
    <div *ngIf="search && itens.length === 0"> 
        <h2 class="font-color-white" >Nenhum resultado para ´{{search}}´</h2>
    </div>
    <div *ngIf="errorReport"> 
            <h2 class="font-color-white" >Nenhum resultado para ´{{search}}´</h2>
        </div>
    <div *ngIf="itens.length > 0"> 
        <h2 class="font-color-white" >{{itens.length}} resultado(s)  para ´{{search}}´ </h2>
    </div>
    <div class="row">
        <div *ngFor="let item of itens" class="col-md-4 col-sm-6 col-12">
            <app-item-search [itemSearched]="item"></app-item-search>
        </div>
    </div>
</div>